.hl   {
      background-color: #E3F2FF;
}

a {
   color: #5DB71D;
}

a:focus, a:hover {

    color: #5DB71D;
}

.side-tabnav-tabs .tab-cur a, .side-tabnav-tabs .tab-cur a:hover {
    background-color: #5DB71D;
}

.side-tabnav h3.hd, .side-tabnav .hd h3 {
    color:  #5DB71D;
}
.side-tabnav-tabs .tab a:hover {
   background-color: #E3F2FF;
}

.tabnav-tab-cur a, .tabnav-tab a:hover, .wiki-nav .cur-item .link, .wiki-nav .link:hover, #right-panel .hd .ui-state-active .a, #right-panel .hd .a:hover {
    border-bottom-color: #5DB71D;
    color: #5DB71D;
    text-decoration: none;
}
#header .nav .a:hover {
  color: #5DB71D;
  text-decoration:underline;
}
.new-narrow-panel .hd {
    background: none repeat scroll 0 0 #5DB71D;
    border-bottom: 1px solid #D5D5D5;
    color: #FFFFFF;
    font-size: 16px;
    padding: 5px 20px;
}

#right-panel .hd, .tabnav, .repo-file-list-topbar, .wiki-top {
    background: none repeat scroll 0 0 #E3F2FF;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 0.5em;
    padding: 9px 10px;
}

.sf-dropdown-menu a:hover {
background: #5DB71D;
text-decoration: none;
color: #fff;
}

.account-popup a.item:hover {
background: #5DB71D;
text-decoration: none;
color: #fff;
}

.upload-progress-bar .ui-progressbar-value {
	background:#5DB71D;
	margin:0;
}